<div class="grid home">
    <div class="col-6">
        <img src="../../../assets/myAvatar.png" alt="imagen de mi avatar">
    </div>
    <div class="col-6">
        <h1>Hola, Soy Maicol</h1>
        <h2>Soy Ingeniero Electrónico y desarrollador Web (Agregar animacion de texto cambiante)</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos esse adipisci cum repellat
            voluptates
            ab, laboriosam asperiores? Possimus illum dolores consequatur asperiores sed. Tempora molestias doloribus
            optio
            doloremque labore.</p>
        <div class="icons">
            aqui van los iconos
        </div>
        <div class="">
            <button>About Me</button>
            justificar al inicio y agregar boton sobre mi
        </div>
    </div>


</div>